{% assign parts = content | split: '<body>' %}

{{ parts[0] }}

<body>
  <script>
    window.pageData = {
      role: "{{ page.role | default: 'primary' }}", // 若沒寫則預設為 primary
      title: "{{ page.title | escape }}",
      defaultName: "{{ page.name | escape }}", // 備用檔名
      description: "{{ page.description | escape }}",
      related: [
        {% for item in page.related %}
          "{{ item }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    };
  </script>

  {% include control-panel.html %}

  {{ parts[1] }}